<!DOCTYPE html>
<html>
  <head>
    <title>Sticky Notes</title>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen" title="materialize" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
