#create-note {
  color: #039be5;
  background-color: #e1f5fe;
  padding: 5px 25px;
  margin-top: 5px;
  border-radius: 4.2rem;
  display: inline-block;
  transition: 300ms;
  cursor: pointer;
}

#create-note:hover {
  color: #e1f5fe;
  background-color: #039be5;
  transition: 300ms;
}

#create-note-form {
  display: none;
  background-color: #e1f5fe;
  padding-bottom: 25px;
  padding-top: 15px;
  border-radius: 0 0px 5px 5px;
}

#notes-board .delete-note:hover,
#notes-board .cancel-note:hover {
  cursor: pointer;
  color: #f44336;
}

#notes-board .view-note:hover,
#notes-board .save-note:hover {
  cursor: pointer;
  color: #4caf50;
}

.cancel-note {
  padding-bottom: 20px;
}

a.no-select {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
